body {
  margin: 0;
  background: linear-gradient(0.125turn, rgb(117, 81, 194), rgb(9, 231, 205));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}